---
---

@import "{{ site.theme }}";

body {
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 25px;
}

header {
  float: none;
  margin-bottom: 16px;
  position: relative;
  width: auto;
}

section {
  float: none;
  width: auto;
}

.wrapper {
  width: 700px;
}
