---
---

@import "{{ site.theme }}";

body {
  padding: 25px;
}

header {
  float: none;
  margin-bottom: 16px;
  position: relative;
  width: auto;
}

section {
  float: none;
  width: auto;
}

.wrapper {
  width: 700px;
}
